.Explore {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  .Explore-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    h3 {
      font-family: "Raleway";
      font-weight: 700;
      font-style: Bold;
      font-size: 4.8rem;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
    }
    p {
      font-family: "Outfit";
      font-weight: 500;
      font-style: Medium;
      font-size: 1.6rem;
      line-height: 150%;
      max-width: 88rem;
      text-align: center;
    }
    .Explore-more-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap:4rem;
  }

  }
 .Explore-more-container{
    display: flex;
    justify-content: center;
    gap:4rem;
    flex-wrap: wrap;
 }
}
@media screen and (max-width:50rem) {
    .Explore-more-container{
          justify-content: baseline;
    }
}