.members {
  margin-top: 15rem;
}
.intro {
  margin-bottom: 8rem;
}
.members-list {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  .member {
    background: #ffffff;
    border: 2px solid #262626;
    box-shadow: 4px 4px 0px 1px #1e1e1e;
    border-radius: 12px;
    padding: 5rem;
    flex-basis: 62rem;
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .picture-container {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        img {
          width: 80px;
          height: 80px;
        }

        h3 {
          font-family: "Raleway";
          font-weight: 800;
          font-size: 2.4rem;
          line-height:1.5;
          max-width: 38.4rem;
        }
      }
    }
    .member-icon {
      background: #ffdecc;
      border: 2px solid #262626;
      padding: 1.6rem;
      border-radius: 8px;
    }
    .text-container {
        margin-top: 3rem;;
      padding: 3rem;
      background: #fff5f0;
      border: 2px solid #262626;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-family: "Outfit";
      h4 {
        font-weight: 600;
        font-size: 24px;
        margin:0;
        max-width: 50rem;
      }
      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        max-width: 62rem;
      }
    }
  }
}

@media (max-width:1100px){
    .members {
  margin-top: 8rem;
}
.members-list {
  .member {
    padding: 3rem;
    flex:1;
    .heading {
      .picture-container {

        gap: 1rem;
        img {
          width: 60px;
          height: 60px;
        }

        h3 {
          font-size: 2rem;
          max-width: 17rem;
        }
      }
    }
    .member-icon {
      background: #ffdecc;
      border: 2px solid #262626;
      padding: 1.6rem;
      border-radius: 8px;
    }
    .text-container {
        margin-top: 2.4rem;;
      padding: 2rem;
      gap: 1.2rem;
      p,h4{
          max-width: 29.8rem;
      }
      h4 {
        font-size: 20px;
      }
      p {
        
        font-size: 16px;
      }
    }
  }
}

}